<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {% for snaps in snap %}
    <div class="header">{{snaps['last_updated']}}</div>
    
        <div class="header-card">
            <div class="snap-logo">
                <div class="logo">
                    <img src="{{ snaps['logo'] }}">
                </div>
                <div class="symbol">
                    BTC
                </div>
            </div>
            <div class="coin-stat">
                <div class="snap-price">
                    <h4>{{snaps['price']}}</h4>
                </div>
                <div class="snap-mcap">

                    <h4>{{snaps['market_cap']}}</h4>
                </div>
                <div class="snap-vol">
                    
                    <h4>{{snaps['volume24h']}}</h4>
                </div>
                
                <div class="snap-pct">
                    <h4 class="pct-change {% if snaps['percent_change24h']|float > 0 %}positive{% elif snaps['percent_change24h']|float < 0 %}negative{% endif %}">
                        {{ snaps['percent_change24h'] }}%
                    </h4>
                    <h4 class="pct-change {% if snaps['percent_change7d']|float > 0 %}positive{% elif snaps['percent_change7d']|float < 0 %}negative{% endif %}">
                        {{ snaps['percent_change7d'] }}%
                    </h4>
                    <h4 class="pct-change {% if snaps['percent_change30d']|float > 0 %}positive{% elif snaps['percent_change30d']|float < 0 %}negative{% endif %}">
                        {{ snaps['percent_change30d'] }}%
                    </h4>
                    <h4 class="pct-change {% if snaps['ytd_price_change_percentage']|float > 0 %}positive{% elif snaps['ytd_price_change_percentage']|float < 0 %}negative{% endif %}">
                        {{ snaps['ytd_price_change_percentage'] }}%
                    </h4>
                </div>

                      
                
                
            </div>
            <div class="coin-bnb">
                
                <div style="display: flex; gap: 120px; justify-content: space-between; font-size: 45px; font-weight: bolder;position:absolute; top:140px; left: 625px">
                    <div style="color: #ff0000;">{{snaps['bearish']}}</div>
                    <div style="color: #ffb338;">{{snaps['neutral']}}</div>
                    <div style="color: #00ff2f;">{{snaps['bullish']}}</div>
                </div>
                <div class="trend">
                    <div>{{snaps['Trend']}}</div>
                </div>
                
            </div>
        </div>
    
    {% endfor %}

    <div class="col-container" style="padding-right: 10px;">
        <div class="col" style="position: absolute; left: 20px; top: 365px">
            <div class="coin-card">
                <div class="logo">
                    <img src="{{coins[1]['logo']}}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[1]['symbol']}}</div>
                    <div class="pct-change {% if coins[1]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">
                        {{ coins[1]['percent_change24h'] | round(2) }}%
                    </div>
                    
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[1]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[1]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[2]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[2]['symbol']}}</div>
                    <div class="pct-change {% if coins[2]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[2]['percent_change24h'] | round(2) }}%%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[2]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[2]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[3]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[3]['symbol']}}</div>
                    <div class="pct-change {% if coins[3]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[3]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[3]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[3]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{coins[4]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[4]['symbol']}}</div>
                    <div class="pct-change {% if coins[4]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[4]['percent_change24h'] | round(2) }}%%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[4]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[4]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[5]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[5]['symbol']}}</div>
                    <div class="pct-change {% if coins[5]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[5]['percent_change24h'] | round(2) }}%%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[5]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[5]['market_cap'] | round(2) }} B</div>
                </div>
            </div>
        </div>

        <div class="col" style="position: absolute; left: 380px; top: 410px">

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[6]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[6]['symbol'] }}</div>
                    <div class="pct-change {% if coins[6]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[6]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[6]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[6]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[7]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[7]['symbol'] }}</div>
                    <div class="pct-change {% if coins[7]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[7]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[7]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[7]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[8]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[8]['symbol'] }}</div>
                    <div class="pct-change {% if coins[8]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[8]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[8]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[8]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[9]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[9]['symbol'] }}</div>
                    <div class="pct-change {% if coins[9]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[9]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[9]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[9]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[10]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[10]['symbol'] }}</div>
                    <div class="pct-change {% if coins[10]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[10]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[10]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[10]['market_cap'] | round(2) }} B</div>
                </div>
            </div>
        </div>

        <div class="col" style="position: absolute; left: 760px; top: 370px">
       
            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[11]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[11]['symbol'] }}</div>
                    <div class="pct-change {% if coins[11]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[11]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[11]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[11]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[12]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[12]['symbol'] }}</div>
                    <div class="pct-change {% if coins[12]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[12]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[12]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[12]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[13]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[13]['symbol'] }}</div>
                    <div class="pct-change {% if coins[13]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[13]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[13]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[13]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[14]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[14]['symbol'] }}</div>
                    <div class="pct-change {% if coins[14]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[14]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[14]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[14]['market_cap'] | round(2) }} B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="{{ coins[15]['logo'] }}" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">{{ coins[15]['symbol'] }}</div>
                    <div class="pct-change {% if coins[15]['percent_change24h'] >= 0 %}positive{% else %}negative{% endif %}">{{ coins[15]['percent_change24h'] | round(2) }}%</div>
                </div>
                <div class="price">
                    <div class="coin-price">${{ coins[15]['price'] | round(2) }}</div>
                    <div class="m-cap">{{ coins[15]['market_cap'] | round(2) }} B</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

