<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>3</title>
</head>
<body>
    <div class="col-container" style="display: flex;">

        <div class="col" style="position: absolute; left: 60px; top:255px">
            <div class="top-gainer">
                {% for coin in coin2 %}
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="{{ coin.logo }}"></div>
                            <div class="left-col">
                                <div class="coin-name">{{ coin.symbol }}</div>
                                <div class="cmc-rank">#{{ coin.cmc_rank }}</div>
                            </div>
                        </div>

                        <div class="mid-col">${{ coin.market_cap }} B</div>

                        <div class="right-col">
                            <div class="price">$ {{ coin.price }}</div>
                            <div class="pct-change" style="color: {% if coin.percent_change24h >= 0 %}#00ff5f{% else %}#ff355b{% endif %}; font-weight: bold;">{{ coin.percent_change24h }} %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: {% if coin.Durability_Score >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Durability_Score }}</span>
                        </div>
                        <div>
                            
                            <span style="color: {% if coin.Momentum_Score >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Momentum_Score }}</span>
                        </div>
                        <div>
                            
                            <span style="color: {% if coin.Valuation_Score    >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Valuation_Score }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col" style="position: absolute; left: 610px; top:255px">
            <div class="top-gainer">
                {% for coin in coin1 %}
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="{{ coin.logo }}"></div>
                            <div class="left-col">
                                <div class="coin-name">{{ coin.symbol }}</div>
                                <div class="cmc-rank">#{{ coin.cmc_rank }}</div>
                            </div>
                        </div>

                        <div class="mid-col">${{ coin.market_cap }} B</div>

                        <div class="right-col">
                            <div class="price">$ {{ coin.price }}</div>
                            <div class="pct-change" style="color: {% if coin.percent_change24h >= 0 %}#00ff5f{% else %}#ff355b{% endif %}; font-weight: bold;">{{ coin.percent_change24h }} %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: {% if coin.Durability_Score >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Durability_Score }}</span>
                        </div>
                        <div>
                            
                            <span style="color: {% if coin.Momentum_Score >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Momentum_Score }}</span>
                        </div>
                        <div>
                            
                            <span style="color: {% if coin.Valuation_Score    >= 0 %}#00ff5f{% else %}#ff355b{% endif %};">{{ coin.Valuation_Score }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
