<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header" style="padding: 25px 50px;">LAST UPDATE:</div>
    <div class="top-bar" style="top: 100px;">
        <div class="header-card">
            <div class="coin-stat">
                <div style="display: flex; gap: 240px; font-size: 32px; position:absolute; top:100px; left: 420px">
                    <h4>$90000</h4>
                </div>
                <div style="display: flex; gap: 200px; font-size: 20px; position:absolute; top:150px; left: 470px">
                    
                    <h4>$1.92 T</h4>
                </div>
                <div style="display: flex; gap: 185px; font-size: 20px; position:absolute; top:200px; left: 470px"">
                    
                    <h4>$97.25 B</h4>
                </div>
                
                <div style="display: flex; gap: 65px; font-size: 15px; position:absolute; top:274px; left: 160px">
                    <h4 style="color: #ff0000;">-3.48%</h4>
                    <h4 style="color: #00ff2f;">12.24%</h4>
                    <h4 style="color: #ff0000;">-3%</h4>
                    <h4 style="color: #00ff2f;">120.07%</h4>
                </div>
                
            </div>
            <div class="coin-stat">
                
                <div style="display: flex; gap: 120px; justify-content: space-between; font-size: 45px; font-weight: bolder;position:absolute; top:140px; left: 625px">
                    <div style="color: #ff0000;">4</div>
                    <div style="color: #ffb338;">4</div>
                    <div style="color: #00ff2f;">12</div>
                </div>
                <div>
                    
                    <div style="padding-left: 355px; font-size: 30px; color: #00ff2f; font-weight: bolder; position:absolute; top:275px; left: 525px">Bullish</div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="col-container" style="padding-right: 10px;">
        <div class="col" style="position: absolute; left: 20px; top: 365px">
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">BTC</div>
                    <div class="pct-change positive">
                        0.99%
                    </div>
                    
                </div>
                <div class="price">
                    <div class="coin-price">$97724.14</div>
                    <div class="m-cap">1937.32 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">ETH</div>
                    <div class="pct-change">1.46</div>
                </div>
                <div class="price">
                    <div class="coin-price">$2719.49</div>
                    <div class="m-cap">327.83 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/52.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">XRP</div>
                    <div class="pct-change">8.6</div>
                </div>
                <div class="price">
                    <div class="coin-price">$2.76</div>
                    <div class="m-cap">159.57 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">USDT</div>
                    <div class="pct-change">-0.0</div>
                </div>
                <div class="price">
                    <div class="coin-price">$1.0</div>
                    <div class="m-cap">142.01 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/5426.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">SOL</div>
                    <div class="pct-change">1.5</div>
                </div>
                <div class="price">
                    <div class="coin-price">$198.29</div>
                    <div class="m-cap">96.82 B</div>
                </div>
            </div>
        </div>

        <div class="col" style="position: absolute; left: 380px; top: 410px">

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1839.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">BNB</div>
                    <div class="pct-change">-2.72</div>
                </div>
                <div class="price">
                    <div class="coin-price">$657.18</div>
                    <div class="m-cap">93.63 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">USDC</div>
                    <div class="pct-change">-0.01</div>
                </div>
                <div class="price">
                    <div class="coin-price">$1.0</div>
                    <div class="m-cap">56.35 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/74.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">DOGE</div>
                    <div class="pct-change">4.36</div>
                </div>
                <div class="price">
                    <div class="coin-price">$0.27</div>
                    <div class="m-cap">40.58 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/2010.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">ADA</div>
                    <div class="pct-change">-0.26</div>
                </div>
                <div class="price">
                    <div class="coin-price">$0.8</div>
                    <div class="m-cap">28.08 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1958.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">TRX</div>
                    <div class="pct-change">-1.67</div>
                </div>
                <div class="price">
                    <div class="coin-price">$0.23</div>
                    <div class="m-cap">19.92 B</div>
                </div>
            </div>
        </div>

        <div class="col" style="position: absolute; left: 760px; top: 370px">
       
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1975.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">LINK</div>
                    <div class="pct-change">4.25</div>
                </div>
                <div class="price">
                    <div class="coin-price">$19.35</div>
                    <div class="m-cap">12.35 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/20947.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">SUI</div>
                    <div class="pct-change">2.16</div>
                </div>
                <div class="price">
                    <div class="coin-price">$3.54</div>
                    <div class="m-cap">10.95 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/5805.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">AVAX</div>
                    <div class="pct-change">4.15</div>
                </div>
                <div class="price">
                    <div class="coin-price">$26.56</div>
                    <div class="m-cap">10.94 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/512.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">XLM</div>
                    <div class="pct-change">5.84</div>
                </div>
                <div class="price">
                    <div class="coin-price">$0.36</div>
                    <div class="m-cap">10.88 B</div>
                </div>
            </div>

            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/5994.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">SHIB</div>
                    <div class="pct-change">2.73</div>
                </div>
                <div class="price">
                    <div class="coin-price">$0.0</div>
                    <div class="m-cap">9.86 B</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
