<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2</title>
    <link rel="stylesheet" href="style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="col-container">
        <div class="col" style="position: absolute; left:20px; top:45px">
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/4642.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">HBAR</div>
                    <div class="pct-change positive">
                        2.72%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">0.23</div>
                    <div class="m-cap">9.65 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/11419.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">TON</div>
                    <div class="pct-change positive">
                        2.94%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">3.85</div>
                    <div class="m-cap">9.59 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/2.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">LTC</div>
                    <div class="pct-change negative">
                        -0.38%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">125.57</div>
                    <div class="m-cap">9.49 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/3957.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">LEO</div>
                    <div class="pct-change positive">
                        0.45%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">9.81</div>
                    <div class="m-cap">9.07 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/32196.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">HYPE</div>
                    <div class="pct-change negative">
                        -1.4%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">26.09</div>
                    <div class="m-cap">8.71 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/6636.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">DOT</div>
                    <div class="pct-change positive">
                        0.66%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">5.16</div>
                    <div class="m-cap">7.99 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/6536.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">OM</div>
                    <div class="pct-change positive">
                        28.6%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">7.3</div>
                    <div class="m-cap">7.1 B</div>
                </div>
            </div>
            
        </div>

        <div class="col" style="position: absolute; left:380px; top: 15px;">
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1831.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">BCH</div>
                    <div class="pct-change positive">
                        1.89%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">342.42</div>
                    <div class="m-cap">6.79 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/11092.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">BGB</div>
                    <div class="pct-change negative">
                        -2.89%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">5.5</div>
                    <div class="m-cap">6.6 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/7083.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">UNI</div>
                    <div class="pct-change positive">
                        1.7%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">10.02</div>
                    <div class="m-cap">6.02 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/29470.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">USDe</div>
                    <div class="pct-change positive">
                        -0.0%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">1.0</div>
                    <div class="m-cap">5.99 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/4943.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">DAI</div>
                    <div class="pct-change negative">
                        -0.03%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">1.0</div>
                    <div class="m-cap">5.36 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/24478.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">PEPE</div>
                    <div class="pct-change positive">
                        4.91%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">0.0</div>
                    <div class="m-cap">4.28 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/328.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">XMR</div>
                    <div class="pct-change positive">
                        1.9%
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">229.69</div>
                    <div class="m-cap">4.24 B</div>
                </div>
            </div>
            
        </div>

        <div class="col" style="position: absolute; left:750px; top:45px;">
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/21159.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">ONDO</div>
                    <div class="pct-change positive">
                        0.09 %
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">1.32</div>
                    <div class="m-cap">4.18 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="nan" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">TRUMP</div>
                    <div class="pct-change positive">
                        29.91 %
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">20.83</div>
                    <div class="m-cap">4.17 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/6535.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">NEAR</div>
                    <div class="pct-change positive">
                        4.7 %
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">3.52</div>
                    <div class="m-cap">4.16 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/7278.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">AAVE</div>
                    <div class="pct-change positive">
                        2.49 %
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">261.0</div>
                    <div class="m-cap">3.93 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/21794.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">APT</div>
                    <div class="pct-change negative">
                        -0.39 %
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">6.08</div>
                    <div class="m-cap">3.57 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/27075.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">MNT</div>
                    <div class="pct-change positive">
                        0.13 %
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">1.04</div>
                    <div class="m-cap">3.5 B</div>
                </div>
            </div>
            
            <div class="coin-card">
                <div class="logo">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/8916.png" alt="Coin logo">
                </div>
                <div class="name">
                    <div class="coin-name">ICP</div>
                    <div class="pct-change positive">
                        1.14 %
                    </div>
                </div>
                <div class="price">
                    <div class="coin-price">7.21</div>
                    <div class="m-cap">3.47 B</div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>