<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>3</title>
</head>
<body>
    <div class="col-container" style="display: flex;">

        <div class="col" style="position: absolute; left: 60px; top:255px">
            <div class="top-gainer">
                
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="nan"></div>
                            <div class="left-col">
                                <div class="coin-name">SHELL</div>
                                <div class="cmc-rank">#339</div>
                            </div>
                        </div>

                        <div class="mid-col">$0.12 B</div>

                        <div class="right-col">
                            <div class="price">$ 0.46</div>
                            <div class="pct-change" style="color: #00ff5f; font-weight: bold;">43.82 %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: #ff355b;">nan</span>
                        </div>
                        <div>
                            
                            <span style="color: #ff355b;">nan</span>
                        </div>
                        <div>
                            
                            <span style="color: #ff355b;">nan</span>
                        </div>
                    </div>
                </div>
                
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="nan"></div>
                            <div class="left-col">
                                <div class="coin-name">TRUMP</div>
                                <div class="cmc-rank">#31</div>
                            </div>
                        </div>

                        <div class="mid-col">$4.17 B</div>

                        <div class="right-col">
                            <div class="price">$ 20.83</div>
                            <div class="pct-change" style="color: #00ff5f; font-weight: bold;">29.91 %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: #ff355b;">-26.0</span>
                        </div>
                        <div>
                            
                            <span style="color: #ff355b;">-41.18</span>
                        </div>
                        <div>
                            
                            <span style="color: #ff355b;">-100.0</span>
                        </div>
                    </div>
                </div>
                
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/6536.png"></div>
                            <div class="left-col">
                                <div class="coin-name">OM</div>
                                <div class="cmc-rank">#22</div>
                            </div>
                        </div>

                        <div class="mid-col">$7.1 B</div>

                        <div class="right-col">
                            <div class="price">$ 7.3</div>
                            <div class="pct-change" style="color: #00ff5f; font-weight: bold;">28.6 %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: #00ff5f;">101.5</span>
                        </div>
                        <div>
                            
                            <span style="color: #00ff5f;">5.88</span>
                        </div>
                        <div>
                            
                            <span style="color: #00ff5f;">66.67</span>
                        </div>
                    </div>
                </div>
                
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/30636.png"></div>
                            <div class="left-col">
                                <div class="coin-name">ZBCN</div>
                                <div class="cmc-rank">#398</div>
                            </div>
                        </div>

                        <div class="mid-col">$0.1 B</div>

                        <div class="right-col">
                            <div class="price">$ 0.0</div>
                            <div class="pct-change" style="color: #00ff5f; font-weight: bold;">21.32 %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: #00ff5f;">10.7</span>
                        </div>
                        <div>
                            
                            <span style="color: #00ff5f;">41.18</span>
                        </div>
                        <div>
                            
                            <span style="color: #00ff5f;">100.0</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col" style="position: absolute; left: 610px; top:255px">
            <div class="top-gainer">
                
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="nan"></div>
                            <div class="left-col">
                                <div class="coin-name">BROCCOLI</div>
                                <div class="cmc-rank">#383</div>
                            </div>
                        </div>

                        <div class="mid-col">$0.1 B</div>

                        <div class="right-col">
                            <div class="price">$ 0.1</div>
                            <div class="pct-change" style="color: #ff355b; font-weight: bold;">-38.65 %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: #ff355b;">nan</span>
                        </div>
                        <div>
                            
                            <span style="color: #ff355b;">nan</span>
                        </div>
                        <div>
                            
                            <span style="color: #ff355b;">nan</span>
                        </div>
                    </div>
                </div>
                
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="nan"></div>
                            <div class="left-col">
                                <div class="coin-name">LIBRA</div>
                                <div class="cmc-rank">#267</div>
                            </div>
                        </div>

                        <div class="mid-col">$0.17 B</div>

                        <div class="right-col">
                            <div class="price">$ 0.68</div>
                            <div class="pct-change" style="color: #ff355b; font-weight: bold;">-29.4 %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: #ff355b;">nan</span>
                        </div>
                        <div>
                            
                            <span style="color: #ff355b;">nan</span>
                        </div>
                        <div>
                            
                            <span style="color: #ff355b;">nan</span>
                        </div>
                    </div>
                </div>
                
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1680.png"></div>
                            <div class="left-col">
                                <div class="coin-name">ANT</div>
                                <div class="cmc-rank">#306</div>
                            </div>
                        </div>

                        <div class="mid-col">$0.15 B</div>

                        <div class="right-col">
                            <div class="price">$ 3.37</div>
                            <div class="pct-change" style="color: #ff355b; font-weight: bold;">-19.64 %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: #00ff5f;">31.87</span>
                        </div>
                        <div>
                            
                            <span style="color: #00ff5f;">23.53</span>
                        </div>
                        <div>
                            
                            <span style="color: #00ff5f;">66.67</span>
                        </div>
                    </div>
                </div>
                
                <div class="coin-card" style="margin-bottom: 10px;"> <!-- Adjusted margin -->
                    <div class="coin-stat">
                        <div>
                            <div class="logo"><img src="https://s2.coinmarketcap.com/static/img/coins/64x64/5031.png"></div>
                            <div class="left-col">
                                <div class="coin-name">MWC</div>
                                <div class="cmc-rank">#225</div>
                            </div>
                        </div>

                        <div class="mid-col">$0.24 B</div>

                        <div class="right-col">
                            <div class="price">$ 21.93</div>
                            <div class="pct-change" style="color: #ff355b; font-weight: bold;">-19.14 %</div>
                        </div>
                    </div>


                    <div class="dmv">
                        <div>
                            
                            <span style="color: #00ff5f;">60.0</span>
                        </div>
                        <div>
                            
                            <span style="color: #00ff5f;">17.65</span>
                        </div>
                        <div>
                            
                            <span style="color: #00ff5f;">100.0</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>