<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style4.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>4</title>
</head>
<body>
    <div class="div-container">
        <div class="col-container">
            {% for coin in coins1 %}
            <div class="col">
                <div class="coin-card">
                    <div class="coin-header">
                        <div class="logo">
                            <img src="{{ coin.logo }}">
                        </div>
                        <div class="coin-details">
                            <div class="coin-info">
                                <div class="name">{{ coin.symbol }}</div>
                                <div class="cmc-rank">#{{ coin.cmc_rank }}</div>
                                <div class="m-cap">${{ coin.market_cap }} B</div>
                                <div class="price">${{ coin.price }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="coin-data">
                        <div class="ratios">
                            <div>{{ coin.m_rat_alpha }}</div>
                            <div>{{ coin.d_rat_beta }}</div>
                            <div>{{ coin.m_rat_omega }}</div>
                        </div>
                        <div class="pct-change">
                            <div class="data">
                                <div class="{% if coin.percent_change24h > 0 %}positive{% else %}negative{% endif %}">
                                    {{ coin.percent_change24h }}%
                                </div>
                                <div class="{% if coin.percent_change7d > 0 %}positive{% else %}negative{% endif %}">
                                    {{ coin.percent_change7d }}%
                                </div>
                                <div class="{% if coin.percent_change30d > 0 %}positive{% else %}negative{% endif %}">
                                    {{ coin.percent_change30d }}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="div-container">
        <div class="col-container-2">
            {% for coin in coins2 %}
            <div class="col">
                <div class="coin-card">
                    <div class="coin-header">
                        <div class="logo">
                            <img src="{{ coin.logo }}">
                        </div>
                        <div class="coin-details">
                            <div class="coin-info">
                                <div class="name">{{ coin.symbol }}</div>
                                <div class="cmc-rank">#{{ coin.cmc_rank }}</div>
                                <div class="m-cap">${{ coin.market_cap }} B</div>
                                <div class="price">${{ coin.price }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="coin-data">
                        <div class="ratios">
                            <div>{{ coin.m_rat_alpha }}</div>
                            <div>{{ coin.d_rat_beta }}</div>
                            <div>{{ coin.m_rat_omega }}</div>
                        </div>
                        <div class="pct-change">
                            <div class="data">
                                <div class="{% if coin.percent_change24h > 0 %}positive{% else %}negative{% endif %}">
                                    {{ coin.percent_change24h }}%
                                </div>
                                <div class="{% if coin.percent_change7d > 0 %}positive{% else %}negative{% endif %}">
                                    {{ coin.percent_change7d }}%
                                </div>
                                <div class="{% if coin.percent_change30d > 0 %}positive{% else %}negative{% endif %}">
                                    {{ coin.percent_change30d }}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
